body, p,
html {
    height: 100%;
    margin: 0;
    font-family: 'PlayfairSC', serif;
}

/* "Introducing:" */
h3{
    margin-top: 40%;  
    width: 50%;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    font-family: 'PlayfairSC', serif;
}

/*Footer: "Can't Get Enough?"*/
h4{
    width: 50%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    font-family: 'PlayfairSC', serif;   
}

/* "Jerimiah Black" */
.line-1{
    position: relative;
    margin-top: 70%;  
    width: 50%;
    margin: 0 auto;
    font-size: 6rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-family: 'PlayfairSC', serif;
}

/* Typewriter Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 50%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*Background Images parallax scroll*/
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("../content/images/guitar1.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../content/images/piano.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../content/images/compose.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("../content/images/sing.jpg");
    min-height: 95%;
}

.caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
  /*  color: #000; */
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4 {
        background-attachment: scroll;
    }
}


/*Social Media Logos & text styles*/

a {
    color: #d4bca0;
}

a:hover{
    color: white;
}

p{
    text-transform: none;
}

p a.fa.fa-facebook-official{
    color: 	#3b5998;
}
p a.fa.fa-instagram{
    color: #fb3958;
}
p a.fa.fa-soundcloud{
    color: #ff7700;
}

a.fa {
    width: 30px;
}

p a.fa:hover {
    color: white;
    text-decoration: none;
}