*, html, body {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: 'Antro';
	src: url('Content/fonts/Antro_Vectra.ttf');
}

@font-face{
	font-family: 'Playfair';
	src: url('Content/fonts/PlayfairDisplay-BlackItalic.ttf');
}

body{
	background-color: black;
	color: white;
	text-align: center;
}

nav {
	position: -webkit- sticky;
	position: sticky;
	top: 0;
	text-align: left;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline;
}

nav a{
	display: inline-block;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-family: Playfair, cursive;
	font-size: 40px;
}

nav a:hover{
	text-decoration: underline;
	color: #d4bca0;
}

p, br, footer, aside {
	font-family: 'Quattrocento', serif;
}

@media only screen and (max-width: 1090px){
	nav {
		text-align: center;
	}
}

@media only screen and (max-width: 1450px){
	nav a{
		font-size: 30px;
		padding: 15px;
	}
}

@media only screen and (max-width: 1200px){
	nav a{
		font-size: 25px;
		padding: 10px;
	}
}
@media only screen and (max-width: 400px){
	nav a{
		font-size: 18px;
		padding: 5px;
	}